include ../layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.orange.image.header
        .content
          | Sign up for an account
      form.ui.large.form(method='POST' action='/auth/signup')
        .ui.raised.attached.segment
          .field
            .ui.left.icon.input
              i.mail.icon
              input#authEmail(type='text', name='email', placeholder='E-mail address')
          .field
            .ui.left.icon.input
              i.user.icon
              input#authName(type='text', name='name', placeholder='Name')
          .field
            .ui.left.icon.input
              i.lock.icon
              input#authPassword(type='password', name='password', placeholder='Password')
          input.ui.fluid.large.orange.submit.button(type='submit', value='Signup') 
        include ../partials/alerts
      .ui.message
        | Already have an account? 
        a(href='/auth/login') Log in
