-if (alerts.error) {
  -alerts.error.forEach(function(msg) {
  .ui.red.message
    =msg
  -});
-}
-if (alerts.success) { 
  -alerts.success.forEach(function(msg) {
  .ui.green.message
    =msg
  -});
-}
