-if (alerts.error) {
  -alerts.error.forEach(function(msg) {
  .ui.red.message.bottom.attached
    i.warning.icon
    =msg
  -});
-}
-if (alerts.success) { 
  -alerts.success.forEach(function(msg) {
  .ui.green.message.bottom.attached
    i.warning.icon
    =msg
  -});
-}
