-var currentPage = 'demo';
.ui.large.top.fixed.menu
  .ui.container
    a.item(href='/')
      img.logo(src='/img/logo.png')
      span.primary 
        | EOEN 
      span(style='color:#000000')
        | Mortgage
    a.item(href='/') Home
    a.item(href='/demo' class=currentPage === 'demo' ? 'active' : '') Demo
    -if (isLoggedIn) {
    a.item(href='/users/' + 'tod')
    .right.menu
      .item
        | Hello, Tod!
      .item
        a.ui.primary.button(href='/auth/signup') Sign Up
      .item
        a.ui.danger.button(href='/auth/logout') Log Out
    -}
  
