extends layout
    
block content
  .ui.middle.aligned.container.push-top
    form.ui.large.form#loan
      .ui.raised.segment
        h1.ui.header D3 Chart Demonstration
        .field
          label(for='loanAmount') Loan Amount
          .ui.left.icon.input
            i.dollar.icon
            input#loanAmount(type='number', name='loanAmount', placeholder='Loan Amount' value='478350')
        .field
          label(for='lifeOfLoan') Life of Loan
          .ui.left.icon.input
            i.calendar.icon
            input#lifeOfLoan(type='number', name='lifeOfLoan', placeholder='Life of Loan' value='30') 
        .field
          label(for='apr') APR
          .ui.left.icon.input
            i.percent.icon
            input#interestRate(type='number', name='apr', placeholder='0.0' value='4.5')
        .ui.fluid.large.orange.submit.button(type='submit') Submit
        include partials/alerts
    #chart.ui.raised.segment.grid
      form.ui.large.form#view
        .field
          .ui.radio.checkbox
            input#stacked(type='radio', name='view' value='stacked')
            label(for='stacked') Stacked
        .field
          .ui.radio.checkbox
            input#grouped(type='radio', name='view', value='grouped' checked)
            label(for='grouped') Grouped
  
  include partials/scripts
  script(src="https://d3js.org/d3.v4.min.js" charset="utf-8")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js") 
  script(src='/js/demo.js')
  script(src='/js/renderChartOnClick.js')
