doctype html
html.mdc-typography(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Eoen Mortgage
    link(rel='stylesheet', type='text/css', href='/semantic/dist/semantic.min.css')
    link(rel='stylesheet' href='/css/custom.css')
  body
    include toolbar
      block content
      include partials/alerts
      block footer
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='semantic/dist/semantic.min.js')
    script(src='/js/sidebar.js')
