
html.mdc-typography(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Eoen Mortgage
    include partials/stylesheets
    
  body
    include partials/menu
    block content
    //- include partials/debug
    include partials/scripts
