// Following Menu
.ui.large.top.fixed.hidden.menu
  .ui.container
    a.active.item(href='/') Home
    a.item Work
    a.item Company
    a.item Careers
    .right.menu
      .item
        a.ui.button(href='/auth/login') Log in
      .item
        a.ui.primary.button(href='/auth/signup') Sign Up
// Sidebar Menu
.ui.vertical.inverted.sidebar.menu
  a.active.item Home
  a.item(href='#') Work
  a.item Company
  a.item Careers
  a.item(href='/auth/login') Login
  a.item(href='/auth/signup') Signup
