// Following Menu
.ui.large.top.fixed.hidden.menu
  .ui.container
    a.active.item(href='/') Home
    a.item(href='/demo') Demo
    .right.menu
      .item
        a.ui.button(href='/auth/login') Log in
      .item
        a.ui.primary.button(href='/auth/signup') Sign Up
// Sidebar Menu
.ui.vertical.inverted.sidebar.menu
  a.active.item(href='/') Home
  a.item(href='/demo') Demo
  a.item(href='/auth/login') Login
  a.item(href='/auth/signup') Signup
