html.mdc-typography(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Eoen Mortgage
    include ../partials/stylesheets
    
  body
    // Sidebar Menu
    .ui.vertical.inverted.sidebar.menu.left
      a.active.item(href='/') Home
      a.item(href='/demo') Demo
      a.item(href='/auth/login') Login
      a.item(href='/auth/signup') Signup

    .pusher
      // Following Menu
      .ui.large.top.fixed.hidden.menu
        .ui.container
          a.active.item(href='/') Home
          a.item(href='/demo') Demo
          .right.menu
            .item
              a.ui.button(href='/auth/login') Log in
            .item
              a.ui.primary.button(href='/auth/signup') Sign Up

      // Page Contents

      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            a.toc.item
              i.sidebar.icon
            a.item.active(href='/') Home
            a.item(href='/demo') Demo
            .right.item
              a.ui.inverted.button(href='/auth/login') Log in
              a.ui.inverted.button(href='/auth/signup') Sign Up

        .ui.text.container
          h1.ui.inverted.header
            span.primary 
              | EOEN 
            span 
              | Mortgage
          h2 
            span 
              | Mor
            span.primary 
              | E
            span 
              | t
            span.primary 
              | O EN
            span 
              | gage
          a.ui.huge.primary.button(href='/auth/signup')
            | Get Started 
            i.right.arrow.icon
      .ui.vertical.stripe.segment
        .ui.center.aligned.stackable.grid.container
          .row
            .six.wide.column
              h3.ui.header 
                | See all your mortgage details all in one place.
              p
                | No need to pay for an expensive mortgage service or track your mortgage details in an excel tracker.
          .row.horizontal.stripe
            .six.wide.column
              h3.ui.header 
                | Data visualization using the powerful D3 engine
              p
                | Using data visualization to wrap your head around a lifetime commitment.
          .row
            .center.aligned.column
              a.ui.huge.black.button(href='/demo') Check It Out
      .ui.inverted.vertical.footer.segment
        .ui.container
          .ui.stackable.inverted.divided.equal.height.stackable.center.aligned.grid
            .three.wide.column
              h4.ui.inverted.header About
              .ui.inverted.link.list
                a.item(href='#') Sitemap
                a.item(href='#') Contact Us
                a.item(href='#') Religious Ceremonies
                a.item(href='#') Gazebo Plans
            .three.wide.column
              h4.ui.inverted.header Services
              .ui.inverted.link.list
                a.item(href='#') Banana Pre-Order
                a.item(href='#') DNA FAQ
                a.item(href='#') How To Access
                a.item(href='#') Favorite X-Men
            .seven.wide.column
              h4.ui.inverted.header Footer Header
              p
                | Extra space for a call to action inside the footer that could help re-engage users.

    include ../partials/scripts
